 /* Start of design for Browse image button */
.btn_browseImage {
    appearance: none;
    background-color:#d8b32b;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
  
  .btn_browseImage:disabled {
    pointer-events: none;
  }
  
  .btn_browseImage:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .btn_browseImage:active {
    box-shadow: none;
    transform: translateY(0);
  }

  /* End of design for Browse image button */

  /* Start of design for Export Design button */
  .btn_exportDesign {
    appearance: none;
    background-color: #c6d4e8;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0.5rem;
    width: 85%;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btn_exportDesign:hover {
    background-color: #FFC229;
    box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(0.9);
  }
  
  .btn_exportDesign:active {
    transform: scale(0.995);
  }
   

  /* End of design for Export Design button */

  /* Start of design for Clear designs button */
  .btn_clearDesign {
    appearance: none;
    background-color: #87ca78;
    border-radius: 40em;
    border-style: none;
    box-shadow: #33d20f 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0.5rem;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    width: 85%;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btn_clearDesign:hover {
    background-color: #2d3dcd;
    color: #dce61a;
    box-shadow: #ca38da 0 -6px 8px inset;
    transform: scale(0.9);
  }
  
  .btn_clearDesign:active {
    transform: scale(0.995);
  }

  /* End of design for Clear designs button */

  /* Start of design for HowToGuide section */

 

  .help_section {
    width: 450px;
  }
  /* End of design for HowToGuide section */

  /* Start of design for Page Layout section */

  .flex-container {
    display: flex;
    height: 100%;
  }

  .flex-child {
    min-width: 0
  }  

  #Design_options { flex: 0 20% } /* Initial width of 25%, won't grow, can shrink if necessary */
  #Tshirt_area { flex: 45% } /* Initial width of 45%, grows to fill available space, can shrink if necessary */
  #Help_Guide { flex: 0 30% } /* Initial width of 30%, won't grow, can shrink if necessary */ 

  /* End of design for Page Layout section */

  .tshirt_type{
    background-color: #87ca78;
  }

  .tshirt_design{
    background-color: #94e1e6;
  }

  label{
    font-family: cursive;
    font-size: medium;
    color: #000000;
  }

  #tshirtColour{
    color: #33d20f;
  }

  .cloth_color{
    background-color:#0e0e0d;
  }